

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

<!--Navbar-->

html{
    scroll-behavior:smooth;
}


header{

  background-color:#f0f0f0;
  font-family: 'Oswald', 'sans-serif';
}


#mainNav {
    
    background-color: #ba0d00 !important;
    
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    
font-family: 'Oswald', sans-serif;
color:#ffdedb;
font-size: large;
}

.header-main{
text-align: left;


}

.header-contact{

  text-align: right;
}


<!--Cards-->

.card-img-top{
  width: 100%!important;
  height: 200px!important;
  object-fit: cover;
}



  
  #API {

   height: auto;
   width: auto;
   padding: 15px;
   padding-top: 65px;

  }
  

  

#main-footer{

  background-color: #ba0d00;
  color: #ffdedb;
}